*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    /* gap: 10px; */
    line-height: 18px;
}
.main{
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
    background: #fff;
}
.main span{
    padding: 10px;
    line-height: 20px;
    font-size: 14px;
}
.main a{
    width: 100%;
}
.main .main1{
    display: flex;
    align-items: center;
    width: 100%;
    flex-direction: row;
    justify-content: space-between;
    padding: 6px 16px;
}
.main .main1 .imgContainer{
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 12px;
}
.main .main1 .imgContainer .back{
    position: relative;
    width: 40px;
    height: 40px;
    border-radius: 12px;
    background: rgb(240, 241, 244);
}
.main .main1 .imgContainer img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.main1 .text span{
    display: flex;
    flex-direction: row;
    font-weight: 500;
    font-size: 12px;
}