@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 20px;
    gap: 20px;
}
.usemonthmoney{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    width: 100%;
    gap: 10px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
}
.text{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    gap: 12px;
}
.img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #e3ebfc;
    color: #367CCB;
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
.img img{
    width: 24px;
    height: 24px;
    object-fit: contain;
}
.month{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.month1 {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    display: flex;
    flex-direction: column;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}
.month1 .monthmoney{
    font-size: 16px;
    font-weight: 500;
}
.month1 .span{
    font-size: 12px;
}
.month1 button{
    width: 70px;
    height: 40px;
    background: #ebebeb;
    text-align: center;
    line-height: 40px;
    color: #111;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
    border-radius: 10px;
    font-size: 12px;
}
.firstbtn{
    width: 70px;
    height: 40px;
    background: #ebebeb;
    text-align: center;
    line-height: 40px;
    color: #111;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    font-weight: 500;
    border-radius: 10px;
    font-size: 12px;
}

.img2{
    position: relative;
    background: rgba(0, 100, 255, 0.1);
    color: #367CCB;
    width: 40px;
    height: 40px;
    border-radius: 30%;
}
.img2 img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 18px;
}
.cardprice{
    display: flex;
    align-items: center;
    justify-content: flex-start;
    gap: 10px;
}
.month1 .span{
    font-size: 10px;
    color: #c1c1c1;
}
.sendbtn{
    width: 70px;
    height: 40px;
    background: #ebebeb;
    text-align: center;
    line-height: 40px;
    color: #111;
    border-radius: 10px;
}