*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    margin: 15px 0;
    width: 100%;
    height: 100%;
    background: #fff;
    border-radius: 20px;
    padding: 20px 0px 0px 0px;
    /* gap: 10px; */
}
.a1{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    gap: 10px;
    font-family: 'Apple SD Gothic Neo';
    font-weight: 500;
    margin-bottom: 10px;
    padding: 0 20px 10px 20px;
}
.FourthComponent{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    gap: 10px;
}
.img{
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background: rgba(0, 100, 255, 0.1);
    border-radius: 30px;
}
.img img{
    width: 24px;
    height: 24px;
    object-fit: contain;
    color: #367CCB;
}
.check{
    font-size: 14px;
    line-height: 20px;
    width: 70px;
    height: 40px;
    background: #ebebeb;
    text-align: center;
    font-family: 'apple sd gothic neo';
    font-weight: 500;
    border-radius: 10px;
}
.buttonContainer{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 100%;
    background: linear-gradient(to top, #fcfcfd, #ebeaea);
    border-radius: 0 0 20px 20px;
    padding: 0 20px 0px 20px;
}
.buttonContainer button{
    width: calc(100% / 3);
    height: 40px;
}

.line{
    width: 100%;
    height: 1px;
    background: linear-gradient(to right , #f3f6fc, black, #f3f6fc);
    margin: 0;
    box-shadow: 0 25px 50px rgba(0, 0, 0, 1);
}

.bar{
    width: 1px;
    height: 50px;
    background: linear-gradient(to bottom , black, #f3f6fc);
    
}