@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

.wrap {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 8px 0 4px;
    width: 100%;
}

.sort {
    font-size: 10px;
    color: #8b95a1
}

.arrow {
    opacity: .6
}

.right {
    display: flex;
    gap: 8px;
    align-items: flex-end;
}

.group {
    display: flex;
    gap: 2px;
    background: #f2f4f6;
    border-radius: 12px;
    padding: 2px;
    width: 100px;
}

.seg {
    border: 0;
    background: transparent;
    padding: 6px 10px;
    border-radius: 10px;
    font-size: 8px;
    font-weight: 500;
    height: 24px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.active {
    background: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, .06);
    transition: 0.2s ease-in-out;
}