@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background: #f6f8fc;
    padding: 30px 10px;
    width: 100%;
}

.top{
    position: fixed;
    top: 0;
    z-index: 999;
    background-color: rgba(246, 248, 252, 0.8);
    backdrop-filter: blur(5px);
    -webkit-backdrop-filter: blur(5px);
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* margin: 20px 5px; */
    width: 100%;
    padding: 30px 10px;
}

.background{
    position: relative;
    width: 100%;
    height: 100%;
    background-color: #f6f8fc;
}

.workTitle{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
}
.work{
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 16px;
    color: #202632;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
    gap: 10px;
}
.work span{
    color: #626979;
}
.components{
    /* overflow-y: scroll; */
    position: absolute;
    top: 54px;
    width: 100%;
}