* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.ellipsis {
    white-space: nowrap;
    /* 줄바꿈 안 함 */
    overflow: hidden;
    /* 넘치는 부분 숨김 */
    text-overflow: ellipsis;
    /* ... 표시 */
}