@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    scroll-behavior: smooth;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100%;
    height: 100%;
}

.background {
    z-index: -1;
}

.top {
    position: fixed;
    z-index: 999;
}

.components {
    position: absolute;
}

:root {
    -webkit-tap-highlight-color: transparent;
}

a.pressed {
    transform: scale(.98);
    background: #f5f6f8;
    transition: transform .12s, background-color .12s;
}