@import url(//spoqa.github.io/spoqa-han-sans/css/SpoqaHanSansNeo.css);

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.conainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: row;
    width: 100%;
    padding: 10px 0;
}

.main {
    display: flex;
    flex-direction: column;
    width: 100%;
}

.span {
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 12px;
    gap: 5px;
    margin: 10px 0;
}

.myaccunt {
    display: flex;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.Time {
    font-size: 10px;
    font-family: 'Spoqa Han Sans Neo', 'sans-serif';
}

.span a {
    font-size: 14px;
    font-weight: 600;
}

.span img {
    width: 6px;
    height: 10px;
}

.price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    gap: 3%;
}


.woncontainer,
.dolcontainer {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
    width: 48%;
    height: 80px;
    background: #e2e4e6;
    padding: 10px;
    border-radius: 15px;
    font-size: 12px;
    z-index: 1;
}

.woncontainer span,
.dolcontainer span {
    font-size: 15px;
}